/*  COLORS:
logo color: #4D5AE5; + #2E2F42;

header baxckgroun color: #FFFFFF;
MAIN background-color:#E5E5E5;
HERO AND FOOTER background-color:#2E2F42;
OIUR TEAM bacground-color:#F4F4FD;

h1-index(studio): color: #FFFFFF;

MAIN color:#2E2F42;
p color + adress: color:#434455;
footer p color: #E7E9FC;
*/

/* FONTS and SIZES 



*/

:root {
  --main-color: #434455;
  --main-background-color: #ffffff;
  --title-color: #2e2f42;
  --active-color: #4d5ae5;
  --order-button-color: #ffffff;
  --hero-title-color: #ffffff;
  --button-background-color: #4d5ae5;
  --ourteam-background-color: #f4f4fd;
  --studio-logo-color: #e7e9fc;
  --header-logo-color: #4d5ae5;
  --order-button-hover: #404bbf;
  --filter-background-color: #f4f4fd;
  --filter-color: #4d5ae5;
  --filter-backgroundcolor-hover: #404bbf;
  --filter-color-hover: #ffffff;
  --footer-text-color: #e7e9fc;
  --footer-backgroundcolor: #2e2f42;
}

h1,
h2,
h3,
h4,
p,
ul {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}
img {
  display: block;
}

.list {
  list-style: none;
  text-decoration: none;
}

body {
  background-color: var(--main-background-color);
  color: var(--main-color);
  font-family: Roboto, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.container {
  width: 1158px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
/* ===========================================HEADER============================== */

.page-header {
  padding-top: 24px;
  padding-bottom: 24px;
  border-bottom: 1px solid var(--studio-logo-color);
}

.page-header-container {
  display: flex;
  align-items: center;
}

.page-nav {
  display: flex;
  align-items: center;
}

.site-nav {
  display: flex;
  align-items: center;
}

.contacts {
  display: flex;
  align-items: center;
}

.address {
  margin-left: auto;
}

.site-nav-item:not(:last-child) {
  margin-right: 40px;
}

.contacts-item:not(:last-child) {
  margin-right: 40px;
}

/* Logotype */

.logo {
  color: var(--header-logo-color);
  text-decoration: none;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.3;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-right: 76px;
}

.logo > .header-logo {
  color: var(--title-color);
}

.footer-logo {
  color: var(--studio-logo-color);
}
/* Navigation */
.site-nav a {
  color: var(--title-color);
  text-decoration: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.site-nav a:hover {
  color: var(--active-color);
}
.site-nav a:focus {
  color: var(--active-color);
}

.site-nav a:active {
  color: var(--active-color);
  /* text-decoration: underline; */
}

.contacts a {
  color: var(--main-color);
  font-style: normal;
  text-decoration: none;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.contacts a:hover {
  color: var(--active-color);
}

.contacts a:focus {
  color: var(--active-color);
}
/* ======================================= /HEADER================================ */

/* ==================================Hero Block + title h1=========================*/

.hero {
  background-color: var(--title-color);
  padding-top: 188px;
  padding-bottom: 188px;
}

.hero-title {
  color: var(--hero-title-color);
  font-weight: 700;
  font-size: 56px;
  line-height: 1.1;
  text-align: center;
  letter-spacing: 0.02em;
  margin-bottom: 48px;
}
.order-button {
  display: block;
  margin-left: auto;
  margin-right: auto;
  background-color: var(--button-background-color);
  color: var(--order-button-color);
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  align-items: center;
  letter-spacing: 0.04em;
  cursor: pointer;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  padding: 16px 32px;
}
.order-button:hover {
  background-color: var(--order-button-hover);
}
.order-button:focus {
  background-color: var(--order-button-hover);
}
/* ==============================================Tittle for h2 =================================================*/
.section-title {
  color: var(--title-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-bottom: 72px;
}

/* ==================================================Advantages + title for h3 =================================================*/

.container-advantages {
  padding-top: 120px;
  padding-bottom: 120px;
}

.advantages-list {
  display: flex;
}
.advantages-list-item:not(:last-child) {
  margin-right: 24px;
}
.advantages-list-item > .item-title {
  margin-bottom: 8px;
}

.item-title {
  color: var(--title-color);
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

/* =========================================work-list========================= */

.container-work-list {
  padding-bottom: 120px;
}
.work-list {
  display: flex;
}

.work-list-item:not(:last-child) {
  margin-right: 24px;
}

/* =================================================our team================================================= */

.our-team {
  background-color: var(--ourteam-background-color);
}
.container-our-team {
  padding-top: 120px;
  padding-bottom: 120px;
}

.team-list {
  display: flex;
}
.team-list-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--main-background-color);
  padding-bottom: 32px;
}
.team-list-item:not(:last-child) {
  margin-right: 24px;
}

.team-list-item-title {
  margin-top: 32px;
  margin-bottom: 8px;
}

/* =================================================Potfolio list + унаследование свойств у пэшэк в ссылках а*/
.list a {
  text-decoration: none;
  color: inherit;
  background-color: inherit;
}

/* =================================================Footer =================================================*/
.page-footer {
  background-color: var(--footer-backgroundcolor);
}

.container-footer {
  display: flex;
  flex-direction: column;
  padding-top: 100px;
  padding-bottom: 100px;
}

/* Increase the flow of customers and sales for your business with digital marketing & growth solutions. */
.page-footer-text {
  color: var(--footer-text-color);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  width: 264px;
  margin-top: 16px;
}

/* =================================================Фильтры для портфолио (КНОПКИ)*/
.filter {
  background-color: var(--filter-background-color);
  color: var(--filter-color);
  cursor: pointer;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  align-items: center;
  letter-spacing: 0.04em;
}
.filter:hover {
  color: var(--filter-color-hover);
  background-color: var(--filter-backgroundcolor-hover);
}
.filter:focus {
  color: var(--filter-color-hover);
  background-color: var(--filter-backgroundcolor-hover);
}
/* =================================================hidden h */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
